/* https://material.io/color/#!/?view.left=0&view.right=0&primary.color=F5F5F5&secondary.color=D81B60 */
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 50px;
  padding: 0;
  background: #9c27b0;
  color: white;
  z-index: 50;
  display: flex;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.headWrap{
  height: 100%;
  display: block;
  width: 100%;
  position: relative;
  flex: 1 1 75%;
}

.headWrap nav {
  float: right;
  font-size: 100%;
}

.headWrap nav a {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  padding: 0 15px;
  min-width: 50px;
  text-align: center;
  background: rgba(255,255,255,0);
  text-decoration: none;
  color: #fff;
  vertical-align: top;
}

.headWrap a.logo{
  width: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 15px;
}

.headWrap a.logo img{
  width: 100%;
}

/* .headWrap nav a div{
  width: 100%;
} */

.headWrap nav a.boooooooi {
  padding: 0;
}

.headWrap nav a.boooooooi div {
  width: 50px;
}

.headWrap nav a div div {
  top: 50px !important;
}

.headWrap nav a div div ul li p{
  padding-left: 15px;
}

.headWrap nav a div div ul a p{
  padding-left: 15px;
  margin: 10px 0;
}

.headWrap nav a div div ul li{
  transition: all .3s ease;
  background: #fff;
}

.headWrap nav a div div ul li:hover{
  background-color: #f3f3f3;
}

.headWrap nav a:hover,
.headWrap nav a:active {
  background: #9a67ea;
  color: #fff
}

.header nav a.active {
  background: #320b86;
  color: #ffffff;
}

.headWrap nav a div div ul a{
  position: relative;
  padding: 0 16px;
  margin: 0;
  outline: none;
  color: inherit;
  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: Roboto, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.04em;
  line-height: 1.75rem;
  text-decoration: inherit;
  text-transform: inherit;
  color: rgb(0,0,0);
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  pointer-events: all;
  transition: all .3s ease;
  background: #fff;
}

.headWrap nav a div div ul a:hover{
  background-color: #f3f3f3;
  color: rgb(0,0,0);
}

@media (max-width: 560px){
  .headWrap{
    display: block;
    width: 100%;
  }
  .headWrap a.logo{
    display: none;
  }

  .headWrap nav{
    float: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .headWrap nav a.backArrow{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .headWrap nav a.backArrow i{
    font-size: 40px;
  }

  .headWrap nav span{
    font-size: 1em;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 19px;
    text-align: center;
  }
}

@media (min-width: 561px){
  .headWrap nav a.backArrow{
    display: none;
  }
  .headWrap nav span{
    display: none;
  }
}