.cardWrap{
  display: inline-block;
  margin: 10px 5px;
  min-width: 300px;
  width: 20%;
}

.cardWrap h1{
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

.cardBackcolor{
  align-items: center;
  background: #333;
  color: white;
  display: flex;
  height: 175px;
  justify-content: center;
  margin: -16px;
  padding: 16px;
}

.cardWrap button{
  width: 100%;
}

.linkCard{
  margin-right: 8px;
  width: calc(50% - 8px);
}

/* fix the button margin */