/* https://material.io/color/#!/?view.left=0&view.right=0&primary.color=F5F5F5&secondary.color=D81B60 */

/* updated Color theme: https://material.io/color/#!/?view.left=0&view.right=0&primary.color=673AB7&secondary.color=F44336&secondary.text.color=FAFAFA */
:root{
  --mdc-theme-primary: #9c27b0;
  --mdc-theme-background: #fafafa;
  --mdc-theme-secondary: #f44336;
  --theme-primary--light: #9a67ea;
  --theme-primary--dark: #320b86;
  --theme-secondary--light: #ff7961;
  --theme-secondary--dark: #ba000d;
}

html, body {
  background: #FAFAFA;
  color: #444;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  padding: 50px 0 0 0;
}

* {
  box-sizing: border-box;
}

button{
  background-color: var(--mdc-theme-primary);
}

.mdc-button--accent{
  background-color: var(--mdc-theme-secondary);
}

h1,h2,h3,h4,h5,h6{
  font-weight: 400;
}

h2{
  margin-left: 18px;
}