.itemOverview{
  display: block;
  margin: 0;
  padding: 0;
  padding: 0 29px;
}

.itemOverview div{
  border-bottom: 1px solid rgba(60.8%, 60.8%, 60.8%, 0.125);
  padding: 15px 0;
  display: block;
  box-sizing: border-box;
}

.itemOverview span{
  color: #000000;
  opacity: 0.3;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 13px;
  display: block;
  margin: 0;
  padding: 0;
}

.itemOverview p{
  opacity: 0.75;
  color: rgba(0,0,0,0.9);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.itemOverview .desc{
  background-color: rgba(29,29,38,0.03);
  margin: 0 -29px;
  padding: 15px 29px;
  border-bottom: 0;
}

.itemOverview .desc p{
  color: #000000;
}

.itemOverview .assigned{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemOverview .assigned img{
  height: 23px;
  width: 23px;
  border-radius: 100%;
  margin: 0 2.5px;
}

.itemOverview .assigned img:last-of-type{
  margin: 0 0 0 2.5px;
}

.itemOverview .status p{
  --statusColor: #3f3f3f;
  color: var(--statusColor);
}

.itemOverview .timeField{
  display: inline-block;
  width: calc(50% - 5px);
  margin-right: 5px;
  box-sizing: border-box;
}

.itemOverview .deadline{
  display: inline-block;
  width: calc(50% - 5px);
  box-sizing: border-box;
  margin-left: 5px;
}

.edit{
  display: inline-block;
  width: calc(50% - 10px);
  margin-right: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(60.8%, 60.8%, 60.8%, 0.125);
  padding: 15px 0;
  color: rgba(251,155,48,0.9);
  font-size: 15px;
  margin-bottom: 5px;
  text-decoration: none;
}

.remove{
  display: inline-block;
  width: calc(50% - 10px);
  margin-left: 10px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(60.8%, 60.8%, 60.8%, 0.125);
  padding: 15px 0;
  color: rgba(216,44,74,0.9);
  font-size: 15px;
  margin-bottom: 5px;
  text-decoration: none;
}