.board{
  height: auto;
  max-height: calc(100vh - 50px);
  width: calc(100% - 250px);
}

.board::-webkit-scrollbar{
  display: none;
}

.boardGroupWrapper{
  display: block;
  height: auto;
  margin-bottom: 15px;
  width: 100%;
}

@media (max-width: 560px){
  .board{
    max-height: auto;
    width: 100%;
  }
}