.newGroup{
  display: block;
  padding: 0 17px;
  width: 100%;
}

.newGroupForm{
  display: flex;
  width: 100%;
}

.newGroupForm input{
  width: 90%;
  background: none;
  border: 1px solid #eee;
  border-left: 3.5px solid #eee;
  box-shadow: 0;
  color: #333;
  font-size: 14px;
  height: 35px;
  margin: 0;
  outline: 0;
  padding: 10px;
  transition: all .2s ease-in-out;
}

.newGroupForm input:focus{
  border-color: #f44336;
  color: #333;
}

.newGroupH3{
  margin: 0;
  padding: 0;
}

.color {
  background: deeppink;
  border-radius: 2px;
  display: block;
  height: 36px;
  width: 100%;
}

.swatch {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  cursor: pointer;
  color: white;
  display: block;
  line-height: 35px;
  padding: 0;
  text-align: center;
}

.popover {
  border-radius: 6px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  left: 0;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 2;
}

.cover {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.wrapColor{
  display: inline-block;
  margin-left: 2px;
  position: relative;
  width: 15%;
}

.tdAddItem{
  padding: 0;
}

h3{
  font-weight: 400;
}