.content{
  display: block;
  width: 100%;
}

.content h2{
  text-align: center;
}

@media (max-width: 560px){
  .content h2{
    display: none;
  }
}

.teamsContent{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardWrap{
  display: inline-block;
  margin: 5px;
  min-width: 300px;
  width: 20%;
}

.cardWrap h1{
  color: white;
  font-size: 25px;
  text-transform: uppercase;
}

.cardBackcolor{
  align-items: center;
  background: #9c27b0;
  color: white;
  display: flex;
  height: 175px;
  justify-content: center;
  margin-bottom: -16px;
  margin-left: -16px;
  margin-right: -16px;
  margin-top: -16px;
  padding: 16px;
}

.buttonSubmit{
  border: 0;
  border-radius: 2px;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0.04em;
  line-height: 2.25rem;
  min-width: 88px;
  padding: 0 16px;
  position: relative;
  outline: 0;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.teamInput{
  background: none;
  border: 0;
  border-bottom: 2px solid #eee;
  color: #333;
  font-size: 15px;
  height: 35px;
  margin-left: 0px;
  margin-right: 8px;
  padding: 5px 10px;
  width: 142px;
}

.teamInput:focus{
  border: 0;
  border-bottom: 2px solid #9c27b0;
  color: #9c27b0;
  outline: 0;
}