nav a.activeBoard {
  background: #9a67ea;
  color: #ffffff;
}

nav .boardLinkWrapper a.activeBoard {
  background: #9a67ea;
  color: #ffffff;
}

nav a.activeBoard + a{
  background: #9a67ea;
  color: #ffffff;
}

.mdc-list-item__end-detail{
  flex: 0 1 5%;
}