.newItem{
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
}

.newItem img{
  height: 18px;
  margin: 5px
}

.newItemForm{
  display: flex;
  height: 35px;
  margin: 0;
  min-width: 308px;
  padding: 0;
  width: calc(100% - 1px);
}

.newItemForm input{
  background: none;
  border: 1px solid #eee;
  border-left: 3.5px solid #eee;
  box-shadow: 0;
  color: #333;
  font-size: 14px;
  height: 35px;
  margin: 0;
  outline: none;
  padding: 10px;
  transition: all .2s ease-in-out;
  width: 100%;
}

.newItemForm input::placeholder{
  color: #A09C9C;
}

.newItemForm input:focus{
  border-color: #f44336;
  color: #333;
}

.newItemForm button{
  align-items: center;
  background: none;
  border: 0;
  border: 2px solid #d81b60;
  box-shadow: 0;
  color: #d81b60;
  display: flex;
  font-size: 20px;
  justify-content: center;
  outline: 0;
  padding: 0 10px;
}

.newItemForm button:hover{
  background: #d81b60;
  color: #ffffff;
}