tbody{
  display: table-row-group
}

tbody tr.tableRow{
  /* width: 100%; */
  display: table-row;
}

tbody tr.tableRow td{
  border-bottom: 1px solid #e9e9e9;
  display: table-cell;
  margin: 1px;
  padding: 0;
  width: 10%;
  white-space: nowrap;
}

.innerWrap{
  background: #f8f8f8;
  color: #596496;
  display: block;
  font-size: 13px;
  outline: 0;
  padding: 0;
  height: 50px;
  text-decoration: none;
  user-select: none;
  width: auto;
}

tbody tr.tableRow:nth-child(odd) td .innerWrap{
  background: #f2f2f2;
}

.innerWrap input{
  background: none;
  border: 0;
  box-shadow: 0;
  color: #596496;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  height: 100%;
  outline: 0;
  padding: 5px 10px;
  text-align: center;
  width: 100%;
}

.innerWrap textarea{
  align-content: center;
  background: none;
  border: 0;
  color: #596496;
  box-shadow: 0;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  height: 100%;
  outline: 0;
  overflow-y: hidden;
  padding: 5px 10px;
  resize: none;
  text-align: left;
  width: 100%;
}

.innerWrap input.inputDesc{
  /* width: 20vw; */
  min-width: 250px;
  text-align: left;
}

.perwrap {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.personimg{
  height: 70%;
}

.suggestionContent {
  align-items: center;
  background-repeat: no-repeat;
  display: flex;
}

button.deleteItem{
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: 0;
  display: block;
  height: 35px;
  margin: 0;
  outline: 0;
  padding: 3px;
  width: 100%;
}

button.deleteItem img{
  height: 25px;
}

input.deadline{
  padding: 2px;
}

/* input.deadline::before{
  content: '';
} */
input.deadline::-webkit-datetime-edit-year-field:not([aria-valuenow]),
input.deadline::-webkit-datetime-edit-month-field:not([aria-valuenow]),
input.deadline::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

/* ::-webkit-datetime-edit-month-field { color: blue; }
::-webkit-datetime-edit-day-field { color: green; }
::-webkit-datetime-edit-year-field { color: purple; } */

.subRow{
  display: block;
  height: 35px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.subRow:last-of-type{
  display: block;
  height: 15px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  width: 100%;
}

.subRow:only-of-type{
  height: 100%;
}

.subRow:last-of-type p{
  box-sizing: border-box;
  color: #333333;
  display: block;
  font-size: 0.9em;
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0 3px 3px;
  text-align: center;
  text-overflow: ellipsis;
  width: 100%;
}

.inPast{
  color: red;
}

.inPastDone{
  color: green;
}