.groupWrap{
  padding: 15px;
  position: relative;
  width: 100%;
}

@media (max-width: 560px){
  .groupWrap{
    padding: 0;
  }
}

.deleteItem{
  background:none;
  border: 1px solid #cecece;
  border-radius: 3px;
  display: none;
  outline: 0;
  position: absolute;
  right: 2px;
}

.groupWrap:hover .deleteItem{
  display: block;
}

.group{
  box-sizing: border-box;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.08), 0px 1px 3px 0px rgba(0, 0, 0, 0.06);
  display: table;
  padding: 3px;
  width: 100%;
}

.group thead{
  display: block;
  padding: 2px 0 6px 7.5px;
  width: 100%;
}

.group thead tr{
  display: table-row;
}

.group thead th{
  display: table-cell;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 10%;
}

.group tbody{
  width: 100%;
}

.inputHeader{
  background: none;
  border: 0.5px dotted transparent;
  font-size: 18px;
  margin: 0 1px 0 0;
  min-width: 300px;
  outline: 0;
  text-align: left;
  width: 100%;
}

.inputHeader:focus{
  border: 0.5px dotted #eee;
}

.color {
  background: deeppink;
  border-radius: 2px;
  display: block;
  height: 36px;
  width: 100%;
}

.swatch {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
  color: white;
  cursor: pointer;
  display: block;
  line-height: 35px;
  padding: 0px;
  text-align: center;
}

.popover {
  border-radius: 6px;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
  left: 0;
  position: absolute;
  top: 40px;
  width: 100%;
  z-index: 2;
}

.cover {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.wrapColor{
  display: inline-block;
  margin-left: 0;
  position: relative;
  width: 100%;
}

.tdAddItem{
  padding: 0;
}

.tableH{
  background: #f8f8f8;
}

.tableH th{
  border-bottom: 1px solid #e9e9e9;
}

@media (max-width: 560px){
  tbody{
    flex-direction: column;
  }
  .groupWrap{
    margin-top: 2px;
    max-width: 100vw;
    /* overflow: hidden; */
  }
  .groupWrap:nth-of-type(1){
    margin-top: 0;
  }
}

ul{
  margin: 0;
  padding: 0;
}

.groupHeadMobile{
  align-items: center;
  background-color: rgba(29,29,38,0.04);
  border-left: 4px solid rgba(0,0,0,0.2);
  box-sizing: border-box;
  display: flex;
  color: rgba(11.4%, 11.4%, 14.9%, 0.459);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  height: 50px;
  margin: 0;
  max-width: 100vw;
  padding: 0 27px 0 27px;
}

.createTask{
  background-color: rgba(182,182,182,0.07);
  border-left: 4px solid rgba(226,68,92,0.6);
  box-sizing: border-box;
  display: block;
  margin: 0;
  max-width: 100vw;
  padding: 0 27px;
}

.createTask a{
  color: rgba(0%, 0%, 0%, 0.459);
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
  overflow: hidden;
  padding: 12px 0;
  position: relative;
  text-decoration: none;
}

.createTask a i{
  margin: 0;
  opacity: 0.50;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ulGroup{
  display: block;
}

.taskWrapLi, .taskWrapUl{
  display: block;
}

.groupSec{
  --groupColor: #ee5b60;
  --userColor: #000000;
  --userFontSize: 14px;
  --userFontWeight: 300;
  --userOpacity: 0.75;
  background-color: rgba(182,182,182,0.03);
  color: var(--userColor);
  display: block;
  font-size: var(--userFontSize);
  font-weight: var(--userFontWeight);
  height: 100%;
  width: 100%;
}

.groupHeader{
  display: block;
  height: auto;
  padding: 15px 29px 0;
  width: 100%;
}

.groupH2{
  color: var(--groupColor);
  flex: 1 0 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  font-weight: var(--userFontWeight);
  line-height: 20px;
  margin: 0;
}

.gheadtags{
  display: flex;
}

.gheadtags h3{
  color: #000000;
  font-family: 'Roboto', sans-serif;
  font-size: 0.95em;
  font-weight: 300;
  opacity: calc(var(--userOpacity) - 0.15);
}

.gheadtags h3:nth-child(1){
  flex: 0 0 24%;
}

.gheadtags h3:nth-child(2){
  flex: 0 0 18%;
}

.gheadtags h3:nth-child(3){
  flex: 0 0 20%;
}

.gheadtags h3:nth-child(4){
  flex: 0 0 18%;
}

.gheadtags h3:nth-child(5){
  flex: 0 0 20%;
}

.groupItems{
  display: block;
  width: 100%;
}