.newboard{
  align-items: center;
  display: flex;
  padding: 10px;
}

.newboard img{
  height: 18px;
  margin: 5px
}

.newboardForm{
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
}

.newboardForm input{
  background: none;
  border: 0;
  border-bottom: 2px solid #A09C9C;
  box-shadow: 0;
  color: #333;
  font-size: 17px;
  margin: 0;
  outline: 0;
  padding: 10px;
  transition: all .2s ease-in-out;
  width: 90%;
}

.newboardForm input::placeholder{
  color: #A09C9C;
}

.newboardForm button{
  align-items: center;
  background: none;
  border: 0;
  border-bottom: 2px solid #A09C9C;
  box-shadow: 0;
  color: #ba000d;
  display: flex;
  font-size: 20px;
  justify-content: center;
  outline: 0;
  padding: 0 10px;
  transition: all .2s ease;
}

.newboardForm input:focus{
  border-color: #ff7961;
  color: #f44336;
}


.newboardForm input:focus + button{
  border-color: #ff7961;
}

.newboardForm button:hover{
  background: #ff7961;
  border-color: #ff7961;
  color: #fafafa;
}