.task{
  --borderColor: rgba(0,200,117,0.9);
  display: block;
  width: 100%;
  max-width: 100vw;
  padding: 0 27px 0 27px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.03);
  border-left: 4px solid var(--borderColor);
  opacity: 0.9;
}

.task a{
  color: rgba(0%, 0%, 0%, 0.459);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-decoration: none;
  border-bottom: 1px solid rgba(60.8%, 60.8%, 60.8%, 0.125);
  padding: 12px 24px 12px 0;
  display: block;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
}

.task a i{
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.50;
}

.task:last-of-type a{
  border-bottom: 0;
}