/* https://material.io/color/#!/?view.left=0&view.right=0&primary.color=F5F5F5&secondary.color=D81B60 */
.sidebar{
  background: #f5f5f5;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  left: 0;
  margin: 0;
  max-width: 250px;
  min-height: calc(100vh - 50px);
  padding: 0;
  position: fixed;
  top: 50px;
  width: 25vw;
  z-index: 2;
}

.sidebar nav{
  display: flex;
  flex-direction: column;
}

.sidebar nav a{
  color: #222;
  margin: 0;
  padding: 12.5px 25px;
  text-decoration: none;
}

.sidebar nav a:hover,
.sidebar nav a:active,
.sidebar nav a:hover + a:nth-child(2),
.sidebar nav a:active + a:nth-child(2){
  background: #320b86;
  color: #fff
}

.sidebar nav a.activeBoard {
  background: #9a67ea;
  color: #ffffff;
}

.boardLinkHeader {
  font-weight: 700;
  font-size: 1.5em;
  margin: 0;
  padding: 10px 0 5px 15px;
}

.boardLinkWrapper{
  border-bottom: 1px solid #666666;
  border-top: 1px solid #666666;
  display: flex;
  flex-direction: column;
}

nav .boardLinkWrapper a{
  height: 100%;
  flex: 4 0 90%;
}

nav .boardLinkWrapper a:nth-child(2){
  align-items: center;
  display: flex;
  flex: 1 2 5%;
  justify-content: center;
  padding: 0;
}

.warningPerm{
  background-color: #f8d7da;
  border-color: #f5c6cb;
  bottom: 0;
  color: #721c24;
  padding: 25px;
  position: absolute;
  right: 0;
}

@media (max-width: 560px){
  .sidebar{
    display: none;
  }
}